<div class="row">
    <div class="col-md-4">
    <!-- Carte -->
    <div class="mt-1 border-top border-bottom shadow p-3 mb-5">
        <!-- Header -->
                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                        <img src="<?php echo $feed['image_profil'];?>" alt="..." class="rounded-lg" width="45">
                        </div>
                        <div class="col-4 mt-3 text-left">
                        <?php echo $feed['pseudo_membre'];?> <?php echo $feed['membre_id'];?>
                        </div>
                        <div class="col-6 mt-3 text-right">
                        <button type="button" class="btn btn-outline-success btn-block btn-sm shadow">Suivre</button>
                        </div>
                    </div>
                </div>
        <!-- /Header -->

        <!-- Carte corps -->
        <div class="p-2">
        <?php if($video[1] == "mp4"){?>
        <video id="player" playsinline controls preload="none" style="width:100%"  onplay="stopActu()" onended="reprise()">
            <source src="<?php echo $feed['image'];?>" type="video/mp4" />
        </video>
        <?php }else{?>
            <img data-src="<?php echo $feed['image'];?>" src="<?php echo $feed['image'];?>" class="img-fluid lazyload rounded-lg" alt="...">
        <?php }?>

        <p class="mt-3 p-3 <?php if($feed['description'] == ""){echo "d-none";}?>">
            <?php echo $feed['description'];?>
        </p>
        </div>
        <!-- /Corps -->

        <!-- Footer -->
        <div class="container mb-3">
            <div class="row">
                <div class="col-2 mt-2">
                
                <form method="post" action="../feed.php" class="d-flex"> 
                <?php if($nbcountlikeuser == 0){?>
                    <input type="hidden" value="<?php echo $feed['feed_id'];?>" name="feed_id">
                    <input type="hidden" value="<?php echo $id;?>" name="id">
                    <input type="hidden" value="<?php echo $feed['membre_id'];?>" name="membre_id">
                    <button type="submit" class="btn btn-transparent decoration-none text-dark d-flex" name="like">
                    <i class="far fa-heart"></i> 

                    <span class="badge badge-light <?php if($nbcountlike == 0){ echo "d-none";}?>">
                    <?php echo $nbcountlike;?>
                    </span>
                    </button>
                <?php }else{?>
                    <input type="hidden" value="<?php echo $feed['feed_id'];?>" name="feed_id">
                    <input type="hidden" value="<?php echo $id;?>" name="id">
                    <button type="submit" class="btn btn-transparent decoration-none text-danger d-flex" name="unlike">
                        <i class="fas fa-heart text-danger "></i> 
                        <span class="badge badge-light <?php if($nbcountlike == 0){ echo "d-none";}?>">
                        <?php echo $nbcountlike;?>
                        </span>
                    </button>
                <?php }?>
                </form>
                </div>
                <div class="col-3 mt-2 text-left">
                <a class="text-dark text-decoration-none" href="commentaire.php?id=<?php echo $feed['feed_id'];?>">
                    <i class="far fa-comment"></i> 
                    <span class="badge badge-light">
                    <?php echo $nbcountcom;?>
                    </span>
                </a>
                </div>
                <div class="col-7 mt-2 text-right">
                <i id="feed_menu" onclick="stopActu()" data-toggle="modal" data-target="#image_<?php echo $feed['id'];?>_<?php echo $feed['membre_id'];?>" class="fas fa-ellipsis-v"></i>
                </div>
            </div>
        </div>
        
        <p class="small">
        <?php if($nbcountlike <= 1){?>
        <a onclick="stopActu()" data-toggle="modal" data-target="#feedlike_<?php echo $feed_id;?>"><?php echo $nbcountlike;?> personne aime</a> 
        <?php }else{?>
        <a onclick="stopActu()" data-toggle="modal" data-target="#feedlike_<?php echo $feed_id;?>"><?php echo $nbcountlike;?> personnes aiment</a> 
        <?php }?>
        </p>
        <!-- /Footer -->
    </div>
    <!-- Carte -->
    </div>
</div>